/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.nave {
    display: flex;
    padding-top: 10px;
}


.img img{
    height: 100px;
    width: auto;
    padding-left: 160px;
    padding-right: 20px;
}


.img2 img {
    height: 10px;
    width: auto;   
}
.nave h3{
    font-size: 13px;
    padding-right: 20px;
    color: #868686;
}

.nave h2{
    font-size: 15px;
    color: #474747;
    display: flex;
}

.flex {
    display: flex;
    padding-bottom: 22px;
}


.flexer {
    display: flex;
    margin-left: 570px;
}

.flexer img{
    height: 30px;
    width: auto;
    padding-top: 8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
    background-color: rgb(255, 199, 115);
    width: 160px;
    height: 45px;
    border-radius: 5px;
    margin-left: 20px;
    align-items: center;
}
    

.button button {
    font-size: 15px;
}

.button a {
    display:flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: black;
}

.button img {
    display: flex;
    height: 30px;
    width: auto;
    padding: 10px;
    padding-left: 15px;
    justify-content: center;
    
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-size: 18px;
}

/* Estilos específicos */

#banner {
    background-image: url('banner.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

#destacados {
    padding: 50px 0;
}

.producto {
    text-align: center;
    margin-bottom: 20px;
}

.producto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#ubicaciones {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

iframe {
    width: 80%;
    height: 300px;
    border: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
